<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse">

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Aplikacja UKE
                </a>
            </div>


            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Link A</a>
                </li>
                <li>
                    <a href="#">Link B</a>
                </li>
            </ul>
        </div>

    </nav>

    <main class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">       
                <h3>Użytkownicy</h3> 
                <button class="btn btn-primary pull-right">Nowy</button>
                
                <table class="table table-striped table-hover users_table">
                    <caption>Lista Użytkowników</caption>
                    <thead>
                        <tr>
                            <th>Id.</th><th>Imie</th><th>Nazwisko</th><th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-center"> 1 / 2 </th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-xs-12">        
                <h3>Użytkownik</h3>

                <form class="user_form">
                    <div class="form-group">
                        <label for="userName1">Imię</label>
                        <input type="text" class="form-control" id="userName1" name="name" placeholder="Imię">
                    </div>

                    <div class="form-group">
                        <label for="userSurName1">Nazwisko</label>
                        <input type="text" class="form-control" id="userSurName1" name="surname" placeholder="Nazwisko">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-success">Zapisz</button>
                    </div>
                </form>


            </div>
        </div>
    </main>
    
    <footer class="container-fluid">
        <small> Stopa</small>
    </footer>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="users.js"></script>

    <script type="text/html" id="row_template">
        <tr>
            <th>{{id}}</th>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default" data-action="edit" data-id="1">Edit</button>
                    <button class="btn btn-default" data-action="remove" data-id="1">Remove</button>
                </div>
            </td>
        </tr>
    </script>
</body>
</html>